<!DOCTYPE html>
<html>

<head>
    <title>

    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>


<body>
    <h1>
        Edit cartypes
    </h1>
    <p>Edit a cartypes post</p>
    
    <form action="/cartypes" method="post">
        <label for="manufacturer">Manufacturer:</label><br>
        <input type="text" id="manufacturer" name="manufacturer" value="<%= cartypesPost.manufacturer %>"><br>
        <label for="model">Model:</label><br>
        <input type="text" id="model" name="model" value="<%= cartypesPost.model %>"><br>
        <label for="color">Color:</label><br>
        <input type="text" id="color" name="color" value="<%= cartypesPost.color %>"><br><br>
        <label for="year">Year:</label><br>
        <input type="integer" id="year" name="year" value="<%= cartypesPost.year %>"><br><br>
        <input type="submit" value="Submit">
    </form>




</body>

</html>